$primary-color: #FCEED5; 
$secondary-color: #003459;
$alternative-color: #FFB775;
$white-color: #ffffff;
$light-color: #FDFDFD;
$primary-color-gradient: linear-gradient(90deg, rgba(252,238,213,1) 0%, rgba(255,231,186,1) 100%);
$netral-color: #CCD1D2;
$netral-color-soft: #667479;
$netral-color-dark : #00171F;
$text-dark: #242B33;
$text-black: #000000;