.navbar{
    &.bg-transparent{
        position: fixed;
        width: 100%;
    }
    .navbar-nav{
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 48px;
        a{
            font-weight: 600;
            color: $secondary-color;
            font-size: 16px;
            form{
                position: relative;
                background: #ffffff;
                border-radius: 40px;
                padding: 5px 20px 5px 48px;
                button{
                    background: transparent;
                    border: none;
                    position: absolute;
                    left: 5px;
                    color: $netral-color-soft;
                    font-size: 20px;
                    top: 4px;
                    &:active{
                        background: transparent;
                    }
                }
                input{
                    font-size: 14px;
                    padding: 10px 0px;
                    width: 200px;
                    border: none;
                    &:focus-visible{
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
        }
        .button-join{
            button{
                background: $secondary-color;
                color: $white-color;
                border-radius: 30px;
                border: none;
                padding: 13px 33px;
                &:hover{
                    background-color: $alternative-color;
                }           
            }
        }
    }
    .navbar-brand{
        @media only screen and (min-width: 320px) and (max-width: 780px) {
            position: relative;
            display: flex;
            justify-content: center;
            margin-left: 28%;
        }
    }
    button{
        @media only screen and (min-width: 320px) and (max-width: 780px) {
            &.navbar-toggler{
                padding: 0px;
                border: none;
                &:focus{
                    box-shadow: none;
                }
            }
        }
    }
    .navbar-collapse{
        @media only screen and (min-width: 320px) and (max-width: 780px) {
            background: $secondary-color;
            position: absolute;
            top: 54px;
            left: 0px;
            width: 100%;
        }
        .navbar-nav{
            @media only screen and (min-width: 320px) and (max-width: 780px) {
                flex-direction: column;
                width: 100%;
                align-items: flex-start;
            }
            a{
                @media only screen and (min-width: 320px) and (max-width: 780px) {
                    color: $white-color;
                }
                form{
                    @media only screen and (min-width: 320px) and (max-width: 780px) {
                        display: none !important;
                    }
                }
                &.button-join{
                    @media only screen and (min-width: 320px) and (max-width: 780px) {
                        display: none;
                    }
                }
            }
            .nav-item{
                &.dropdown{
                    @media only screen and (min-width: 320px) and (max-width: 780px) {
                        display: none;
                    }
                }
            }
        }
    }
    a{
        &.mobile-only{
            @media only screen and (min-width: 320px) and (max-width: 780px) {

            }
            input{
                @media only screen and (min-width: 320px) and (max-width: 780px) {
                    display: none;
                }
            }
            form{
                button{
                    @media only screen and (min-width: 320px) and (max-width: 780px) {
                        position: absolute;
                        right: 13px;
                        top: 15px;
                        padding: 0px;
                        background: transparent;
                        border: none;
                        font-size: 20px;
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}